.chart{
flex: 4;
-webkit-box-shadow:2px 4px 10px rgba(0,0,0,0.47);
box-shadow:2px 4px 10px rgba(0,0,0,0.47) ;
padding: 10px;
color: gray;
border-radius: .8rem;
.title{
margin: 1rem 0 1.5rem 0;

}
.cartesianGrid{




}
}