.dataTabel{
    padding: 20px;
    height: 600px;
        .celWithImg{
        display: flex;
        align-items: center;
            .cellImg{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 1rem;



            }
    }
    .cellWithStatus{

padding: 5px;
border-radius: 5px;
&.active{

background-color: rgba(0,128,0,0.05);
color: green;

}
&.pending{

background-color: rgba(255,117,0,0.05);
color: goldenrod;

}
&.passive{

background-color: rgba(255,0,0,0.05);
color: crimson;

}

    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 18px;
        padding: 2rem;

.viewButton{
padding: 4px 7px ;
border-radius: 5px;
color: darkblue;
border: 1px solid rgba(0, 0, 139, 0.497);
cursor: pointer;
transition: all .3s ease;
&:hover{


    background-color: darkblue;
    color: #fff;
}

}
.deleteButton{
padding: 4px 7px ;
border-radius: 5px;
color: crimson;
border: 1px solid rgba(220, 20, 60, 0.497);
cursor: pointer;
transition: all .3s ease;
&:hover{


    background-color: crimson;
    color: #fff;
}

}
.updateButton{
padding: 4px 7px ;
border-radius: 5px;
color: rgb(74, 171, 74);
border: 1px solid  rgb(74, 171, 74);
cursor: pointer;
transition: all .3s ease;
&:hover{


    background-color:  rgb(74, 171, 74);
    color: #fff;
}

}


    }

}